<form class="form-horizontal">
    <div class="control-group">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.calibrationtests.confirmAllGcode">Confirm all GCODE
        </label>
    </div>
</form>