<select id="testSelector" class="row-fluid">
    {% for test in plugin_calibrationtests_testlist %}
        <option value="{{test.divName}}">{{test.displayName}}</option>
    {% endfor %}
</select>

{% for test in plugin_calibrationtests_testlist %}
    {% include test.template %}
{% endfor %}
